.parallax { will-change: transform; transform: translateZ(0); transform: translateY( var(--translateY) ); }

.parallax_inner_image img { 
	will-change: transform; transform: translateZ(0); transform: translateY( var(--translateY) ); 
    min-height: 200%;
    margin-top: -20%;
	min-width: 100%;
}